{
    "org":"myOrg",
    "app":"myApp",
    "service":"myService",
    "s3endpoint" : "http://localhost:8000", 
    "s3accessKeyId" : "S3RVER", 
    "s3secretAccessKey": "S3RVER",
    "s3BucketName": "myBucket"
}